<!-- Content Heading -->
<h1>
    <%= title %>
</h1>

<!-- Flash Message -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
    <% }) %>
    </ul>
<% } %>

<section class="inventory-form">
    <form id="updateForm" action="/inv/update" method="post">
        <label for="classificationDropDown">Classification:</label>
        <%- selectClassification %>
        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make" required placeholder="Min of 3 characters." value="<%- inv_make %>">
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model" required placeholder="Min of 3 characters." value="<%- inv_model %>">
        <label for="inv_year">Year:</label>
        <input type="number" id="inv_year" name="inv_year" required placeholder="4-digit Year Only." value="<%- inv_year %>">
        <label for="inv_miles">Miles:</label>
        <input type="number" id="inv_miles" name="inv_miles" required placeholder="Integer Only." value="<%- inv_miles %>">
        <label for="inv_color">Color:</label>
        <input type="text" id="inv_color" name="inv_color" required value="<%- inv_color %>">
        <label for="inv_price">Price:</label>
        <input type="number" id="inv_price" name="inv_price" required step="0.01" placeholder="Decimal or Integer Only." value="<%- inv_price %>">
        <label for="inv_image">Image Pathway:</label>
        <input type="text" id="inv_image" name="inv_image" required value="<%- inv_image %>">
        <label for="inv_thumbnail">Thumbnail Pathway:</label>
        <input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="<%- inv_thumbnail %>">
        <label for="inv_description">Description:</label>
        <textarea name="inv_description" id="inv_description" rows="5" cols="10" placeholder="Please enter description edit here." required><%- inv_description %></textarea>
        <p>Confirm update by clicking the button. Must change something to submit.</p>
        <input type="submit" id="updateButton" value="Update Vehicle" disabled>
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </form>
</section>

<script src="../../js/inv-update.js"></script>